docs/IMPROVED_N8N_WAHA_WORKFLOW.json
{
  "meta": {
    "instanceId": "53de6f74347b8cea93e8f89aeb7bd179cad26d01d6b3c3efb4a207e9539e8a07"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1072,
        384
      ],
      "id": "5465f0b2-10f3-4a89-afcc-23acf75252d1"
    },
    {
      "parameters": {
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/schedules/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzN2ZjOTU4OC01YWNlLTRkNjUtOTYzZS0wZTBiNzFkMjA3ZTMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU3MzM2NjEzfQ.Ieb9czhWybhL8s1EGa1sTG5VrJF9CbiuSSewspG7ywI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Get Today's Schedules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        384
      ],
      "id": "d1e17b58-3514-4607-87b3-bef3893d32be"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst schedules = inputData[0]?.json;\n\nlet schedulesArray = [];\nif (Array.isArray(schedules)) {\n  schedulesArray = schedules;\n} else if (schedules && typeof schedules === 'object') {\n  if (schedules.data && Array.isArray(schedules.data)) {\n    schedulesArray = schedules.data;\n  } else if (schedules.schedules && Array.isArray(schedules.schedules)) {\n    schedulesArray = schedules.schedules;\n  } else {\n    schedulesArray = [schedules];\n  }\n}\n\nconsole.log('📋 Processing schedules:', schedulesArray.length);\nreturn schedulesArray.map(schedule => ({ json: schedule }));"
      },
      "name": "Process API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        384
      ],
      "id": "1826213c-4cd8-4356-a320-affe8db53653"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check If Schedules Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        384
      ],
      "id": "fda34930-ad6a-4637-baa0-53cf9ba1ce2b"
    },
    {
      "parameters": {
        "jsCode": "const schedules = $input.all();\nconst processedSchedules = [];\n\nfor (const item of schedules) {\n  const schedule = item.json;\n  \n  // Process each schedule for reminders\n  const processedSchedule = {\n    _id: schedule._id,\n    user_id: schedule.user_id,\n    user_email: schedule.user_email,\n    user_phone: schedule.user_phone,\n    user_telegram_id: schedule.user_telegram_id,\n    title: schedule.title,\n    daily_content: schedule.daily_content,\n    reminder_platforms: schedule.reminder_platforms || ['email'],\n    scheduleId: schedule._id,\n    user_name: schedule.user_name || 'there',\n    // Format phone number for WhatsApp (ensure it has country code)\n    whatsapp_chat_id: schedule.user_phone ? (schedule.user_phone.startsWith('+') ? schedule.user_phone.substring(1) : schedule.user_phone) + '@c.us' : null\n  };\n  \n  console.log('📱 Processing user:', processedSchedule.user_name, 'Platforms:', processedSchedule.reminder_platforms);\n  processedSchedules.push({ json: processedSchedule });\n}\n\nreturn processedSchedules;"
      },
      "name": "Process Schedules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        384
      ],
      "id": "88c81bfc-3a36-4bcb-9065-76a45a870cde"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.reminder_platforms && $json.reminder_platforms.includes('email') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Email Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        48,
        224
      ],
      "id": "79e5bb66-2e00-4a20-b1e0-cfea7e30a214"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.reminder_platforms && $json.reminder_platforms.includes('whatsapp') && $json.user_phone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check WhatsApp Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        48,
        384
      ],
      "id": "38c9c675-077b-42ee-a952-63264fcbf00e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.reminder_platforms && $json.reminder_platforms.includes('telegram') && $json.user_telegram_id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Telegram Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        48,
        544
      ],
      "id": "a00beaa7-94ff-4bf6-a2e8-62f520c9e9c9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/email/send-reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzN2ZjOTU4OC01YWNlLTRkNjUtOTYzZS0wZTBiNzFkMjA3ZTMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU3MzM2NjEzfQ.Ieb9czhWybhL8s1EGa1sTG5VrJF9CbiuSSewspG7ywI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"to\": $json.user_email,\n  \"daily_content\": $json.daily_content,\n  \"title\": $json.title,\n  \"scheduleId\": $json.scheduleId,\n  \"user_name\": $json.user_name\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        160
      ],
      "id": "01fb1eca-68ef-461c-a897-714321a94990"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "sessionName": "lifebuddy",
        "chatId": "={{ $json.whatsapp_chat_id }}",
        "text": "🚀 *LifeBuddy Daily Schedule*\n\nGood morning, {{ $json.user_name }}! 🌅\n\n*{{ $json.title }}*\n\n{{ $json.daily_content }}\n\n💪 *Today's Motivation:*\n_\"Success is not final, failure is not fatal: it is the courage to continue that counts. Make today count with your LifeBuddy schedule!\"_\n\n🔗 View Full Schedule: https://www.lifebuddy.space/schedule/{{ $json._id }}\n\nPowered by *LifeBuddy* - Your AI Productivity Partner 🤖",
        "additionalFields": {
          "parseMode": "markdown"
        }
      },
      "name": "Send WhatsApp via WAHA Agent",
      "type": "@devlikeapro/n8n-nodes-waha.waha",
      "typeVersion": 1,
      "position": [
        256,
        320
      ],
      "id": "0caee469-fed6-430e-9bb9-3b481c00d200",
      "credentials": {
        "wahaApi": {
          "id": "waha_credentials_id",
          "name": "WAHA API Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/telegram/send-reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzN2ZjOTU4OC01YWNlLTRkNjUtOTYzZS0wZTBiNzFkMjA3ZTMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU3MzM2NjEzfQ.Ieb9czhWybhL8s1EGa1sTG5VrJF9CbiuSSewspG7ywI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"chatId\": $json.user_telegram_id,\n  \"daily_content\": $json.daily_content,\n  \"title\": $json.title,\n  \"scheduleId\": $json.scheduleId,\n  \"user_name\": $json.user_name\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Send Telegram Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        480
      ],
      "id": "7cdbdf87-0e8c-4a43-844d-1d8aa2c19c02"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst successCount = results.length;\n\nconsole.log('✅ LifeBuddy Daily Reminders Completed Successfully!');\nconsole.log('Messages sent:', successCount);\nconsole.log('Timestamp:', new Date().toISOString());\n\n// Log individual results\nresults.forEach((result, index) => {\n  console.log(`Message ${index + 1}:`, result.json);\n});\n\nreturn [{ json: { \n  status: 'completed',\n  messages_sent: successCount,\n  timestamp: new Date().toISOString(),\n  message: 'LifeBuddy daily reminders sent successfully',\n  details: results.map(r => r.json)\n}}];"
      },
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        384
      ],
      "id": "2528f78e-c36f-4e06-83d6-2636c346fa9f"
    }
  ],
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Today's Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Schedules": {
      "main": [
        [
          {
            "node": "Process API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process API Response": {
      "main": [
        [
          {
            "node": "Check If Schedules Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Schedules Exist": {
      "main": [
        [
          {
            "node": "Process Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Schedules": {
      "main": [
        [
          {
            "node": "Check Email Platform",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check WhatsApp Platform",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Telegram Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Platform": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WhatsApp Platform": {
      "main": [
        [
          {
            "node": "Send WhatsApp via WAHA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram Platform": {
      "main": [
        [
          {
            "node": "Send Telegram Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp via WAHA Agent": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reminder": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
