docs/WAHA_N8N_WORKFLOW.json
{
  "name": "LifeBuddy Daily Reminders - WAHA WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "a1b2c3d4-e5f6-7890-abcd-123456789012"
    },
    {
      "parameters": {
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/schedules/today",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Today's Schedules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "b2c3d4e5-f6g7-8901-bcde-234567890123",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process schedules and split by platform\nconst schedules = $input.all();\nconst results = [];\n\nfor (const schedule of schedules) {\n  const data = schedule.json;\n  \n  if (data && data.reminder_platforms && Array.isArray(data.reminder_platforms)) {\n    // Create separate items for each platform\n    for (const platform of data.reminder_platforms) {\n      results.push({\n        json: {\n          ...data,\n          current_platform: platform,\n          user_name: data.user_email ? data.user_email.split('@')[0] : 'User'\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "name": "Process Schedules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.current_platform === 'email' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Email Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 140],
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.current_platform === 'whatsapp' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check WhatsApp Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.current_platform === 'telegram' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Telegram Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 460],
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567"
    },
    {
      "parameters": {
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/email/send-reminder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.user_email }}\",\n  \"daily_content\": \"{{ $json.daily_content }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"scheduleId\": \"{{ $json._id }}\",\n  \"user_name\": \"{{ $json.user_name }}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 140],
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendText",
        "chatId": "={{ $json.user_phone }}",
        "text": "=🚀 *LifeBuddy Daily Schedule*\n\nGood morning, {{ $json.user_name }}! 🌅\n\n*{{ $json.title }}*\n\n{{ $json.daily_content }}\n\n💪 *Today's Motivation:*\n_\"Success is not final, failure is not fatal: it is the courage to continue that counts. Make today count with your LifeBuddy schedule!\"_\n\n🔗 View Full Schedule: https://www.lifebuddy.space/schedule/{{ $json._id }}\n\nPowered by *LifeBuddy* - Your AI Productivity Partner 🤖"
      },
      "name": "Send WhatsApp via WAHA",
      "type": "@devlikeapro/n8n-nodes-waha.waha",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456789",
      "credentials": {
        "wahaApi": {
          "id": "waha-credentials",
          "name": "WAHA API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/telegram/send-reminder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $json.user_telegram_id }}\",\n  \"daily_content\": \"{{ $json.daily_content }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"scheduleId\": \"{{ $json._id }}\",\n  \"user_name\": \"{{ $json.user_name }}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Send Telegram Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 460],
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567890",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://lifebuddy-backend-production.up.railway.app/api/n8n/schedules/mark-sent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"scheduleId\": \"{{ $json._id }}\",\n  \"platform\": \"{{ $json.current_platform }}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "id": "j0k1l2m3-n4o5-6789-jklm-012345678901",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Today's Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Schedules": {
      "main": [
        [
          {
            "node": "Process Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Schedules": {
      "main": [
        [
          {
            "node": "Check Email Platform",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check WhatsApp Platform",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Telegram Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Platform": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WhatsApp Platform": {
      "main": [
        [
          {
            "node": "Send WhatsApp via WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram Platform": {
      "main": [
        [
          {
            "node": "Send Telegram Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp via WAHA": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reminder": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-09T12:50:10.000Z",
  "versionId": "1"
}
